@import url('https://fonts.googleapis.com/css?family=Fjalla+One');


h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
}
.bodyz{
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;


}
.jumbotron{
background-color: white;

}